body, a {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: oklch(0.302 0.056 229.695)
}

.bg-body {
  background-color: oklch(86.9% 0.022 252.894) !important;
}

.form-container {
  max-width: 350px;
}

#btnSearch, #btnSubmit {
  border: none;
  background-color: oklch(0.302 0.056 229.695);
  color: white;
}

#btnSearch:hover, #btnSubmit:hover {
  background-color: oklch(0.372 0.044 257.287);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}