#btnLogin, #btnSearch, #btnLogout, #btnProfile {
    color: white;
}

#btnLogin:hover, #btnSearch:hover, #btnLogout:hover, #btnProfile:hover {
    background-color: oklch(0.372 0.044 257.287);
}

.hidden {
  display: none !important;
}