body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: oklch(0.302 0.056 229.695);
}

.bg-body {
    background-color: oklch(86.9% 0.022 252.894) !important;
}

.game-card {
    cursor: pointer;
}

/* Header */
#btnLogin, #btnSearch {
    color: white;
}

#btnLogin:hover, #btnSearch:hover{
    background-color: oklch(0.372 0.044 257.287);
}

#promo-games, #recommended {
    margin: 12px 0px;
    padding: 12px;
}

.carousel-caption span {
    padding: 4px;
    background-color: oklch(0.302 0.056 229.7 / 0.6);
    font-weight: 600;
}